body{
background-color: #cce;

}

h1 {
	margin-top: 5px;
	text-align: center;
	color: #d0a;
	font-family: 'Play',sans-serif;
}
#resultado {
	color: #36f;
	opacity: 0; 
	-webkit-transition: opacity 0.6s ;
  -moz-transition: opacity 0.6s ;
  -ms-transition: opacity 0.6s ;
  transition: opacity 0.6s;
  }
#resultado.aparece{
	opacity: 1;
}


p {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
button {
	margin-left: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	color: #4e4e55;
	text-decoration: none;
	cursor: pointer;
	background-color: #ddd;
	border: 3px solid #555;
	height: 60px;
	width: 200px;
	text-align: left;
}

button:hover{
	opacity: .75;
}

table.center {
	margin-right: auto;
	margin-left: auto;
}

div
{
	border-radius: 20px;
	border:15px solid #888;
	background: #226;
	padding: 10px;
	width: 720px;
	height: 400px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
#instruccions {
padding: 5px;
border: 5px solid #226;
background: #66a;
color:#eee;
	height: auto;
}